/* The places article */

div.container section.places  h1{
    font-size: 30px; 
}

div.container section.places div {
    display: grid;
    grid-template-columns: 1fr 2.5fr; 
    gap: 12px;
}

div.container section.places article {
    max-width: 390px;
    position: relative; 
    left: 25%;
}
div.container section.places article h2 {
    border: 1px solid #ff5a5f;
    border-left-width: 2px;
    border-right-width: 2px;
    display: grid;
    text-align: center;
    border-radius: 4px;
    margin: 20px;
    text-align: center;
    padding: 20px;
}
div.container section.places article.item3{
    position: relative;
    display: grid;
    left: 100%;
}